
@{
    ViewBag.Title = "MonthlySales";
}

<h2>Aylık Satış</h2>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i>
        
    </div>
    <div class="card-body">
        <canvas id="deneme" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted"></div>
</div>